3dview
3dview_automoc.cpp
build
dist
nbproject/private
moc_*.cpp
.dep.inc
/ui/ui_*.h
/ui_*.h
/qrc_3dview.cpp
/src/qrc_3dview.cpp
/CMakeCache.txt
/CMakeFiles
/nbproject
/Makefile
/cmake_install.cmake
/compile_commands.json
/resources/*.depends
